@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
       <h2 class="display-4"> MEDISYS</h2>
    <h1 class="display-4"> Medicine Monitoring System</h1>
</div>

<p>The proposed system shows a user interface and update the menu with all available options so 
that it eases the customer work. Customer can choose items to make an order and can view 
order details. The order confirmation is sent to the customer. The order is placed in the queue 
and updated in the database and returned in real time. This system assists the staff to go 
through the orders in real time and process it efficiently so that order is delivered soon.</p>

<ul>
    <li>Provides Admin Authentication</li>
      <li> Admins have the overall control to maintain the system, and can approve or reject the branch 
          admin</li>
        <li> Easily have the access of a branch</li>
      
</ul>